//	The color schemes that can be applied to sections and
//	some components.

//	The title color of a scheme is always the background color.

.scheme-corduroy {
	--bg-color: var(--corduroy);
	--text-color: var(--linen-light);
	--title-border-color: var(--honey-yellow-light);

	--link-color: #fff;
	--link-color-hot: #fff;
}

.scheme-woodland-green {
	--bg-color: var(--woodland-green);
	--text-color: var(--linen-dark);
	--title-border-color: var(--honey-yellow-light);
	
	--link-color: #fff;
	--link-color-hot: var(--linen-dark);
}

.scheme-linen {
	--bg-color: var(--linen-light);
	--text-color: var(--forest-green-text);
	--h2-color: var(--forest-green-text);
	
	--link-color: var(--corduroy-saturated);
	--link-hot-color: #000;
	
	--cta-icon-color: var(--link-color);
}

.scheme-white {
	--bg-color: #fff;
	--text-color: var(--text-color-default);
}

.border-top-white {
	border-top: 1px solid #fff;
}

.scheme-whiteBg-corduroyText {
	--h1-color:	var(--corduroy-dark);
	--title-border-color: var(--honey-yellow);
}

.scheme-darkMode {
	--bg-color: var(--black-warm);
	--h2-color: var(--linen-dark);
	--text-color: var(--linen-textOnBlack);
	
}

