/* go through */


.component--secondary-navigation {
	display: block;
}
.component .content h1.main-content-display-title {
//	font-weight: normal !important;
//	color: #a58e63;
	text-transform: uppercase;
	margin: 0 auto .5em;
	position: relative;
}
.component .content h1.main-content-display-title:after,
.field--name-field-main-content-body h3:after {
	position: absolute;
	content: "";
	width: 4rem;
	border-top: 0.4rem solid #ff665e;
	left: 0;
	top: 100%;
}
.title-content.has-accent.accent-honey-yellow.scripty {
	font-family: professor !important;
	text-transform: none !important;
}
.institute-2024-footer {
	background-color: #c6ad7e !important;
	position: relative;
	padding: 1em;
	color: #641a2b;
}
.institute-2024-footer .vassar-2024-logotype {
	text-transform: uppercase;
	font-family: masqualero;
}
.institute-2024-grid .stretched-link::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	content: "";
}
.institute-2024-grid .col:hover {
	transform: scale(1.03);
	/* box-shadow: 0 0.4rem 0.4rem rgba(0,0,0,0.2); */
	cursor: pointer;
	/* border-color: transparent; */
	z-index: 10;
}
.institute-2024-grid .col,
.institute-2024-grid .col .field--name-field-media-image {
	overflow: hidden;
	position: relative;
}
.institute-2024-grid .col,
.institute-2024-grid .col img { 
	transition: 0.4s all ease;
}
.institute-2024-grid .col:hover a {
   /* color: #e00; */
}
.institute-2024-grid .field--name-field-media-credit {
	display: none;
}
.institute-2024-grid .col:hover img {
	transform: scale(1.1);
}
.institute-2024-grid .col a {
	text-decoration: none;
}
/* .col-4 a:hover,
.col-4 a:focus,
.col-4 a:hover,
.col-4 a:focus {
	background-color: transparent !important;
	color: #e00;
}
.col-4 a.stretched-link:focus:after,
.col-4 a.stretched-link:focus:after {
	border: 1px solid #e00;
} */
/* CTA Buttons */
@media screen and (min-width: 50rem) {
	.fixed-panel {
		background: #fff;
		position: fixed;
		bottom: 0;
		right: 3rem;
		min-width: 23rem;
		z-index: 21;
	}
}
.not-front .rendered-news-view .views-row article {
	border-bottom: none !important;
}
.alias--institute .component--hero-image {
	padding: 35% 5% 0;
//	filter: grayscale(1) blur(1px);
	padding: 30% 5% 0%;
//	background-attachment: fixed;
}
.alias--institute .institute-masthead-2 {
//	top:14vw;
//	left:40%;
}
.alias--institute .hp-programs {
	display: block;
}
.hp-programs {
	display: none;
}
@media screen and (min-width: 43.75em) {
}
@media screen and (min-width: 62em) {
}


.institute-2024-grid p {
	font-size: 1em !important;
	line-height: 1.2em !important;
}
.component--side-navigation li {
	font-size: 1.1em !important;
	line-height: 1.2em !important;
	margin-bottom: .5em
}








.story-item--twoCols h3.story-item__title {
	font-family: var(--sans-serif) !IMPORTANT;
	margin-top: 2rem;
	font-size: 2rem;
}

h1.main-content-display-title {
	margin-bottom: 4rem !important;
}


.story-item--twoCols p.story-item__meta {
	--font-size: 1.1rem;
	font-weight: bold;
}











.expand-on-hover {
	display: block;
	transition: 0.4s all ease;

	&:hover,
	&:focus {
		transform: scale(1.1);
//		filter: brightness(1.4);
	}
}




/* fixes */


.secondary_navigation a {
	font-weight: bold !important;
}


html .component--main-content .page-title-section h1.main-content-display-title {
  font-weight: bold !important;
}


span.institute__main-title.no-transition.text-white {
    font-family: masqualero;
}

h3 {
  font-family: var(--font-family, var(--sans-serif)) !important;
}

.component--secondary-navigation li a {
    font-weight: bold;
}




.component--main-content .content h1.main-content-display-title {
    font-weight: 600 !important;
}



.page-title-section h2.main-content-display-title {
  font-family: futura-pt-condensed !important;
  font-size: 3.4rem !important;
}


.institute-masthead-2 .stretched-link:after {
 border: 1px solid var(--honey-yellow);
}


.section--featured-image .column.contains-text h3.story-item__title, .section--featured-image .column.contains-text h3.story-item__title a {
  line-height: 1.1 !important;
}
