:root {
	--corduroy: #576d6c;
	--corduroy-dark: #46605f;
	--corduroy-saturated: #3a8d8a;

	--content-font-size: clamp(1.2rem, 2vw, 1.46rem);

	--woodland-green: #3a4527;
	--woodland-green-text: #556d2a;

//	--gold: #BF8808;
	--honey-yellow: #edb32e;
	--honey-yellow-light: #e4b54c;

	--linen: #ebebdc;
	--linen-light: #f5f5ec;
	--linen-dark: #dcdcc8;

	--burgundy-light: #951829;

	--dogwood-red: #823648;

	--text-color-default: #4A4A4A;
	
	--serif-display: freight-big-pro, Georgia, Times, Times New Roman, serif;
	--sans-serif: futura-pt;
	--sans-condensed: futura-pt-condensed, sans-serif;
	
	
	--sansSerif-size-small: 1.26rem;
	--sansSerif-size-small-lineHeight: 1.22;

	--sansSerif-size-verySmall: 1.1rem;


	--page-intro-size: clamp(1.8rem, 10vw, 2.4rem);
	--page-intro-lineHeight: 1.1;
	
	--h1-font-family: "futura-pt-condensed", sans-serif;
	--h1-font-size: clamp(2rem, 6vw, 4.4rem);
	--h1-color: var(--forest-green-text);

	--h2-font-family: "futura-pt-condensed", sans-serif;
	--h2-font-size: clamp(2rem, 6vw, 3.8rem);
	--h2-color: #aaa;


	--story-item__title-font: var(--sans-serif);

}

$breakpoints: (
	"small": 30em,
	"medium": 50em,
	"large": 70em
);	

@import "_mixins/_breakpoints";
@import "_mixins/_underline-border";

@import "_go-through";

@import "_global";
@import "_compositions/_all";
@import "_blocks/_all";
@import "_utilities/_all";