.site-intro {
	--font-family: var(--serif-display);
	--font-size: var(--site-intro-size);
	--line-height: var(--site-intro-lineHeight);
	--text-color: var(--woodland-green-text);
}

.page-intro {
	--font-family: var(--serif-display);
	--font-size: var(--page-intro-size);
	--line-height: var(--page-intro-lineHeight);
}

.section-intro {
	font-family: var(--serif-display);
	font-size: var(--page-intro-size);
	line-height: var(--page-intro-lineHeight);
}