.section--featured-image {
	padding: 0;
	min-height: 100vh;
	background: var(--bg-color, #fff);

	.columns-container {
		min-height: 100vh;

		@include breakpoint("medium") {
			display: flex;
		}
	}

	.column {
		@include breakpoint("medium") {
			width: 50%;
		}
	}
	.content {
		max-width: none;
		padding: 0 !important;
	}

	.contains-text {
		.container {
			padding: 2rem;
			max-width: 36rem;

			@include breakpoint("medium") {
				padding: clamp(1.3rem, 8vw, 4rem);
				padding-top: 6rem;
			}
		}
	}

	.contains-image {
		padding: 1rem;
		
		@include breakpoint("medium") {
			padding: 0;
			position: relative;
			position: sticky;
			top: 0;
			height: 100vh;
	
			img {
				position: absolute;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	//	Exceptions

	&.image-on-right .columns-container {
		flex-direction: row-reverse;
	}
}

