.section--featured-image {
	
	--gap-space: clamp(1.3rem, 6vw, 6rem);
	
	padding: var(--section-padding, 0);
	background: var(--bg-color, #fff);

	&:not(.style-compact) {
		min-height: 100vh;		

		.columns-container {
			min-height: 100vh;
		}
		.contains-image {
			@include breakpoint("medium") {
				height: 100vh;
			}
		}
	}
	
	&.style-compact {
		margin: 1rem;
	}
	
	.columns-container {
		@include breakpoint("medium") {
			display: flex;
		}
	}

	.column {
		@include breakpoint("medium") {
			width: 50%;
		}
	}
	.content {
		max-width: none;
		padding: 0 !important;
	}

	.contains-text {
		.container {
			padding: 2rem;
			max-width: 36rem;

			@include breakpoint("medium") {
				padding: clamp(1.3rem, 8vw, 4rem);
				padding-top: 6rem;
			}
		}
	}

	.contains-image {
		padding: 1rem;
		
		@include breakpoint("medium") {
			padding: 0;
			position: relative;
			position: sticky;
			top: 0;
//			height: 100vh;
	
			img {
				position: absolute;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	&:not(.image-on-right) {
		.contains-text {
			.container {
				padding-left: var(--gap-space);
				margin-left: 0;
				margin-right: auto;
			}
		}
	}

	&.image-on-right {
		.columns-container {
			flex-direction: row-reverse;
		}
		.contains-text {
			.container {
				padding-right: var(--gap-space);
				margin-right: 0;
				margin-left: auto;
			}
		}
	}
}





//	go through
.section--featured-image {
	.column.contains-text {
		--line-height: 1.2;
	}
	
	p.story-item__byline {
		--font-size: 1.2rem;
		/* font-weight: bold; */
	}
	.column.contains-text h3.story-item__title,
	.column.contains-text h3.story-item__title a {
		font-family: "futura-pt-condensed" !important;
		font-size: 2.2rem !important;
		font-weight: bold;
	}
	.column.contains-text h3.story-item__title a {
		text-decoration-thickness: 2px !important;
		text-underline-offset: 0.2rem;
	}
}