
  //  tiles are always meant to be displayed in a grid. Any space
  //  around them should be a gap, not a margin.

  .stories-item-tile,
  .story-item--tile {
	padding: min(3%, 1.4rem);
	position: relative;
	z-index: 1;
	transition: 0.4s all ease;
	border-bottom: 1px solid #eee;
	background: #fff;

	//	places the title below the image
	flex-direction: column-reverse;
	display: flex;
	margin: 0;
	justify-content: flex-end;

	// .story-item--text
	.story-item__text {
		p {
			--font-size: var(--sansSerif-size-small);
			--line-height: var(--sansSerif-size-small-lineHeight);
		}		
	}

    &:hover {
		transform: scale(1.03);
		box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.2);
		cursor: pointer;
		border-color: transparent;
		z-index: 10;
	
		a {
			--title-link-color: #e00;
		}
		img {
		  transform: scale(1.1);
		}
	  }

	  a {
		color: var(--title-link-color, #333) !important;
		text-decoration: none;
		
		&:hover,
  		&:focus {
	  		background-color: var(--title-link-bg, transparent) !important;
	 		--title-link-color: #e00;
  		}

	}


	a.stretched-link:focus:after {
	  border: 2px solid #e00;
	}
    .stories-item-image,
	.story-item-image {
		
		.align-center {
			&, img {
				margin: 0 !important;				
			}
		}
		overflow: hidden;
	
//		@include breakpoint("medium", "max") {
		  margin-bottom: 1rem;
//		}

	    img {
			transition: 0.4s all ease;
		}
	  }
	  .story-item__byline {
	  	margin-top: 0.3rem;
	  }

	.stories-item-title,
	.story-item__title {
	  margin: 1rem 0 0 0;
	  padding: 0;
	  font-size: 1.3rem;
	  font-variation-settings: "wght" 780;
	  line-height: 1.1;
	  //  make sure the stretched-link fills tile
	  position: unset;
	  max-width: 24rem;

	  &:after {
		  display: none !important;
	  }

	}
  }

  //  makes sure that tiles in a grid layout have
  //  space below at mobile
/*
  .row .story-item.tile {
	@include breakpoint("medium", "max") {
	  margin-bottom: 1rem;
	}
  }
*/