.fixed-panel {
	--font-size: 1.2rem;

	border: 1px solid var(--burgundy-light);

	@include breakpoint("medium", "max") {
		margin-bottom: 2rem;
	}
	
	@include breakpoint("medium") {
		border-bottom: none;
	}


	background: var(--linen-light);
	
	a {
		--link-bg-color: var(--burgundy-light);
		--link-color: #fff;

//		border-bottom: 2px solid #a00;
	}
}