//	This does that nice page-title overlay on top-level pages


/*
.component--hero-image--default {
	height: 80vh;
	
	@include breakpoint("medium") {
		background-attachment: fixed;
	}
}
*/

.component--hero-image {
	padding: 2em;
	background-position-y: center;
	height: 20rem;
}



@keyframes title-slide-in {
  from {
	opacity: 0;
	transform: translateX(-1rem);
  }
  to {
	opacity: 1;
	transform: translateX(0);
  }
}

.field--name-field-page-top-components .field__item:nth-child(2) {
	background: #000;
	overflow: hidden;
	
	div {
		opacity: 0;
		animation-name: zoom-in-10;
		animation-duration: 3s;
		animation-fill-mode: forwards;
	}
}
@include breakpoint("medium") {
	.field--name-field-page-top-components .field__item:nth-child(2) {
		top: 0;
		height: 80vh;
		width: 100%;
		position: relative;
		clip-path: inset(0 0 0 0);
	}
	
	.field--name-field-page-top-components .field__item:nth-child(2) div {
		position: fixed;
		width: 100%;
		top: 0;
		height: 80vh;
	}
}


.page-title-section {
	@include breakpoint("medium", "max") {
		padding: 0;
	}	
	@include breakpoint("medium") {
		--bg-color: transparent;
		--text-color: #fff;
		position: absolute;
		top: 0;
		height: 80vh;
		width: 100%;
		background: rgba(0,0,0,0.2);
		display: flex;
		align-content: flex-end;
	}

	&.hide-at-mobile {
		//	Now see here - on the top-level pages (Signature Programs, Past Programs, etc) the name of the
		//	top-level section is also the name of the page, so the title should be shown.
		
		//	But on a subpage, like "Art and Public Space at Vassar and in Poughkeepsie", the title of the page
		//	is "Art and Public Space at Vassar and in Poughkeepsie". Since space is at a premium, Signature
		//	Programs doesn't need to be shown, since it's already reflected in the selected nav item.
		
		//	There's no way to tell where a page is in the hierarchy - no classes or anything - so this class
		//	needs to be manually applied to the page title component itself.
		
		@include breakpoint("medium", "max") {
			position: absolute;
			width: 1px;
			height: 1px;
			overflow: hidden;
			opacity: 0;
		}		
	}

	.content {
		margin: 0 !important;
	}
	.main-content-display-title {
		margin: 0 !important;
		display: block !important;
		text-align: center;
				
		&:after {
			@include breakpoint("medium", "max") {
				left: calc(50% - 2rem) !important;
			}
		}

		@include breakpoint("medium") {
			text-align: left;
			padding: 0;			
			opacity: 0;
			animation-name: title-slide-in;
			animation-duration: 3s;
			animation-fill-mode: forwards;
			text-shadow: 0 0 1rem #000;
		}
	}
}

/*
.component--hero-image.institute-innerpage-hero {
	padding: 0;
}
.component--hero-image.institute-innerpage-hero {
	padding: 2em;
	background-position-y: center;
}
*/